@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    /*background-image: url(images/background.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    
  }

span {
    word-wrap: break-word;
}  

.container {
    width: 100%;
    height: 350px;
    margin: 5% auto;
}

.log-container {
    text-align: left;
    font-size: 18px;
    background: rgb(229, 235, 241);
    height:100%;
    max-width: 75%;
    margin:2% auto;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    overflow-y: scroll;
    overflow-x: hidden;     
}
