@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    background-image: url(images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    
  }

span {
    word-wrap: break-word;
}  

/*  ---Header---  */

nav.navbar-default {
    border-bottom-color: rgb(83, 85, 88);
    border-bottom-width: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-top: 20px;
    padding-right: 0px;
    margin-bottom: 0px;
    background-color: rgb(229, 235, 241);
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

#li-navbar {
    text-align: center;
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    padding-top: 22px;    
}

.navbar-brand {
    margin-right: 20px;
}

#ul-header {
    float: right;
}

.navbar-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-img {
    width:40px;
    height:40px;
}

.social a{
    margin: 15px;
    padding: 0px;
}

a.btn {
    background-color: rgb(235, 28, 35);
    border-bottom-color: rgb(235, 28, 35);
    border-top-color: rgb(235, 28, 35);
    border-left-color: rgb(235, 28, 35);
    border-right-color: rgb(235, 28, 35);
    
}

a.btn.btn-info:hover {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(235, 28, 35);
    border-top-color: rgb(235, 28, 35);
    border-left-color: rgb(235, 28, 35);
    border-right-color: rgb(235, 28, 35);
    color: rgb(235, 28, 35); 
}

/*  ---SlideShow---  */

.mySlides {
    width: 100%;
    border-radius: 10px;
}

.mySlide {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    );
    border-radius: 10px;

}

.trlayer {
    background-color: rgba(248, 247, 216, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideText {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    );
    z-index: 100;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    width: 100%;
    bottom: 5%;
    text-align: left;
    padding-left: 10%
    
}

.summaryTitle {
    font-weight: 700;
}

.summary {
    font-size: 24px;
}

.SlidesContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.fade-in {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



/*  ---About Us---  */

.row {
    margin: 15px;
    opacity: 0;
    transform: translate3d(0px, 100px, 0px);
    animation-iteration-count: 1;
    transition: 0.7s ease-out;
}

.h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(83, 85, 88);
    font-family: 'Dosis', sans-serif;
}

.img-fluid {
    border-radius: 25px;
    min-width: 160px;
    height:auto;
    margin-top: 15px;
}

.about-copy {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 400;
    
}

hr { 
    margin: 25px;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }

.allow-show {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.sign-bot {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    margin: 15px; 
}

/*  ---Reviews---  */

.reviews-container {
    position: relative;
    margin-top: 10%;
}

/*  ---Form---  */

.form-background {
    background-color: rgb(255, 255, 255);
}

.i-form {
    width: 600px;
    padding: 30px;
    margin: auto;
    background-color: rgb(229, 235, 241);
    border-radius: 15px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.form-group {
    margin-bottom: 30px;
}

.check-form {
    margin-bottom: 30px;
    padding: 10px;
}

.radio-form {
    margin-bottom: 30px;
    padding: 10px;
}

.radio-inline {
    margin-right: 5%;
}

.check-box {
    margin-right: 5%;
}

.form-drop-content {
    background-color: rgb(255, 255, 255);
    border: none;
}

#send-btn {
    background-color: rgb(235, 28, 35);
    border-bottom-color: rgb(235, 28, 35);
    border-top-color: rgb(235, 28, 35);
    border-left-color: rgb(235, 28, 35);
    border-right-color: rgb(235, 28, 35);
    
}

#send-btn:hover {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(235, 28, 35);
    border-top-color: rgb(235, 28, 35);
    border-left-color: rgb(235, 28, 35);
    border-right-color: rgb(235, 28, 35);
    color: rgb(235, 28, 35); 
}

.highlight {
    border-color: rgb(235, 28, 35);
    border-radius: 5px;
    border-style: solid;
    border-width: 0.7px;
}


/*  ---Reviews---  */

.swiper-container {
    width: 100%;
    height: 350px;
    margin: 2% auto;

}
.swiper-slide {
    margin: 10px;
}
.swiper-slide-container {
    text-align: center;
    font-size: 18px;
    background: rgb(229, 235, 241);
    height:100%;
    max-width: 75%;
    margin:auto;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
        
}

.user-name-container {
    display: block;
    margin-bottom: 15px;
        
}

.user-comment-container {
    display: block;
    margin: 10px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 20px;
    
}

.user-comment {
    text-align: left;
}

.user-likes-container {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
}

.user-likes {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}

.user-experience-container {
    display: block;
    font-size: 14px;
    float: left;
    margin-left: 10px;
}

.user-experience {
    background-color: rgb(255, 255, 255);
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}

.user-love-container {
    display: block;
    font-size: 14px;
    float: left;
    margin-left: 10px;  
}

.user-love {
    background-color: rgb(255, 255, 255);
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}